/* Anki reviewer defaults */
html, body {
  overscroll-behavior: none;
}

body {
  margin: 20px;
  overflow-wrap: break-word;
}

/* Pagination */
.nav {
  position: fixed;
  inset-block-end: 20px;
  inset-inline: 20px;
  display: flex;
  font-size: 10px;
  opacity: 0.4;
}

.nav span {
  margin-inline-start: auto;
}
