/*
 * Anki Markdown Editor Styles
 */
.anki-md-hidden,
.anki-md-active :has(> .rich-text-input) {
  position: absolute !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  block-size: 1px !important;
  inline-size: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.anki-md-active {
  .plain-text-badge {
    display: none !important;
  }

  /* settings gear, image float/resize toolbar */
  #settings,
  .floating {
    display: none;
  }
}
