.card {
  font-family: "Berkeley Mono Variable", ui-monospace, "JetBrains Mono", "Fira Code", monospace;
  font-size: var(--font-size, 14px);
  line-height: var(--line-height, 1.5);
  background: transparent;

  .mobile & {
    font-size: var(--font-size, 12px);
  }

  .nightMode & {
    color: #fff;
  }
}

/* Shared shiki styles */
.shiki {
  font-size: 0.875rem;
  background: var(--shiki-light-bg);

  span {
    color: var(--shiki-light);
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
  }

  .nightMode & {
    background: var(--shiki-dark-bg);
    span {
      color: var(--shiki-dark);
      font-style: var(--shiki-dark-font-style);
      font-weight: var(--shiki-dark-font-weight);
      text-decoration: var(--shiki-dark-text-decoration);
    }
  }

  .highlighted-word {
    background: rgb(255 255 0 / 0.3);
    padding: 2px;
    border-radius: 2px;
  }

  &.has-focused .line:not(.focused) {
    opacity: 0.7;
    filter: blur(0.095rem);
    transition: filter 0.35s, opacity 0.35s;

    :is(.code-block.revealed, .shiki:hover) & {
      opacity: 1;
      filter: blur(0);
    }
  }

  .line.highlighted {
    background: rgb(255 255 0 / 0.2);
    border-radius: 4px;

    &.error {
      background: rgb(255 0 0 / 0.2);
    }

    &.warning {
      background: rgb(255 165 0 / 0.2);
    }
  }

  pre > code {
    display: block;
    overflow-x: auto;
    scrollbar-width: none;

    --fade-size: 1.5rem;
    mask-image: linear-gradient(to right,
        var(--fade-left),
        #000 var(--fade-size),
        #000 calc(100% - var(--fade-size)),
        var(--fade-right));
    animation: scroll-fade linear;
    animation-timeline: scroll(self x);
  }
}

/* Code blocks */
.code-block {
  padding: 0;
  margin: 0;
  overflow: hidden;
  inline-size: fit-content;
  max-inline-size: 100%;
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  background-clip: padding-box;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.025),
    0 1px 2px -1px rgb(0 0 0 / 0.05);

  .nightMode & {
  }

  pre {
    margin: 0;
    padding: 8px;
  }

  .toolbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 4px 8px;
    font-size: 0.625rem;
    color: var(--fg-subtle);
    background: rgb(0 0 0 / 0.03);
    border-block-start: 1px solid var(--border-subtle);

    .nightMode & {
      background: rgb(0 0 0 / 0.15);
    }

    .actions {
      display: flex;
      gap: 0.25rem;
      margin-inline-start: auto;

      button:last-child {
        margin-inline-end: -4px;
      }
    }

    button {
      all: unset;
      cursor: pointer;
      padding: 0.15rem 0.25rem;
      border-radius: 0.25rem;

      &:hover {
        background: var(--border-subtle);
      }
    }

    .toggle,
    .copy {
      display: none;
    }
  }

  &.has-focused .toggle {
    display: inline;
  }

  .clipboard & .copy {
    display: inline;
  }
}

.code-inline {
  border: 1px solid var(--border-subtle);
  border-radius: var(--border-radius);
  padding: 0.15em 0.25em;
}


@property --fade-left {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}

@property --fade-right {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}

@keyframes scroll-fade {
  0% {
    --fade-left: #000;
    --fade-right: transparent;
  }

  3%,
  97% {
    --fade-left: transparent;
    --fade-right: transparent;
  }

  100% {
    --fade-left: transparent;
    --fade-right: #000;
  }
}